<!DOCTYPE html>
<html lang="en">

   <head>

      <link rel="icon" href="images/favicon-money.ico" />

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>MoneyDiary - Cash Flow</title>

      <!-- Bootstrap Core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

      <!-- MetisMenu CSS -->
      <link href="/vendor/metisMenu/metisMenu.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="/styles/layout.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

      <!-- Table CSS -->
      <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

      <!-- Jquery UI CSS -->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

   </head>

   <body>

      <div id="wrapper">

         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">MoneyDiary</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                     <li><a href="/user/profile"><i class="fa fa-user fa-fw"></i>Profile</a></li>
                     <li class="divider"></li>
                     <li><a href="/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                  </ul>
               </li>
            </ul>

            <!-- Side Bar Navigation -->
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                     <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> My Money Diary</a>
                     </li>
                     <li>
                        <a href="/cashflow"><i class="fa fa-edit fa-fw"></i> Cash Flow</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           <li>
                              <a href="flot.html">Flot Charts</a>
                           </li>
                           <li>
                              <a href="morris.html">Morris.js Charts</a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="/mortgage"><i class="fa fa-table fa-fw"></i> Mortgage Wizard</a>
                     </li>
                     <li>
                        <a href="investment"><i class="fa fa-edit fa-fw"></i> Investment Wizard</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h2 class="page-header">Cash Flow</h2>
                        <div class="btn-group"></div>
                     </div>

                     <div id="wrapper">
                        <div id="signs">
                           <div id="wallet-balance">
                              <i class="fa fa-usd" aria-hidden="true"></i>
                              <span>Total Available:</span>
                              <span class="append"></span>
                              <i class="fa fa-info-circle text-primary" data-placement="bottom" data-toggle="popover" title="" data-content="Click to add an Expense or Income" data-trigger="hover" id="returnPopover" data-original-title="Test"></i>
                           </div>
                           <div id="add-tr-buttons">
                              <button type="button" class="btn btn-outline btn-success" id="trigger-add-income">+ Add Income</button>
                              <button type="button" class="btn btn-outline btn-warning" id="trigger-add-expense">- Add Expense</button>
                           </div>
                           <div class="error-flash">
                             <% if (error) { %>
                               <h5 style='color:red'><%= error %></h5>
                             <% } %>
                          </div>
                        </div>
                     </div>

                     <div id="container" class="clearfix">
                        <div id="main-container">
                           <div id="adder">
                              <form id="transaction" action="/cashflowData" method="POST">
                                 <div id="fields-container">
                                    <div class="labels expenses">
                                       <div class="form-group input-group" style="float: left">
                                          <span class="input-group-addon">$</span>
                                          <input placeholder="amount" type="text" class="form-control" name="amount" id="amount-form">
                                       </div>
                                       <div class="form-group" style="float: right">
                                          <input placeholder="note (optional)" class="form-control" name="note">
                                       </div>
                                    </div>
                                 </div>

                                 <div id="transaction-date" class="clearfix">
                                    <select id="category-expenses" name="category" style="width:30%;">
                                       <option value="">Select category</option>
                                       <option value="Car">Car</option>
                                       <option value="Clothes & Shoes">Clothes & Shoes</option>
                                       <option value="Eating Out & Coffee">Eating Out & Coffee</option>
                                       <option value="Education">Education</option>
                                       <option value="Entertainment">Entertainment</option>
                                       <option value="Food/Groceries">Food/Groceries</option>
                                       <option value="Gas/Transportation">Gas/Transportation</option>
                                       <option value="Holiday">Holiday</option>
                                       <option value="Home">Home</option>
                                       <option value="Insurance">Insurance</option>
                                       <option value="Kids">Kids</option>
                                       <option value="Medical">Medical</option>
                                       <option value="Misc">Misc</option>
                                       <option value="Mortgage/Rent">Mortgage/Rent</option>
                                       <option value="Phone/TV/Internet/Utilities">Phone/TV/Internet/Utilities</option>
                                       <option value="Taxes">Taxes</option>
                                    </select>
                                    <select id="category-income" name="category" style="width:30%;">
                                       <option value="">Select category</option>
                                       <option value="Bonus">Bonus</option>
                                       <option value="Interest">Interest</option>
                                       <option value="Other">Other</option>
                                       <option value="Salary">Salary</option>
                                    </select>

                                    <button type="button" class="fa fa-calendar" id="datepicker-show" aria-hidden="true"></button>
                                    <div id = "datepicker"></div>
                                    <input id="djoined" name="djoined" type="hidden" class="text" type="date">

                                    <div id="adder-close">
                                       <button type="button" class="btn btn-warning">Cancel</button>
                                    </div>
                                    <div id="submit-button">
                                       <input type="submit" form="transaction" class="btn btn-success" value="Add">
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  <!--  <div id="cashflow">
                           <div id="period" class="clearfix to-left">
                              <ul>
                                 <li><a href="#" rel="prev">&larr;</a></li>
                                 <li><a href="#" rel="thism" class="active thism-date">This month</a></li>
                                 <li><a href="#" rel="next">&rarr;</a></li>
                              </ul>
                           </div>

                           <div id="holder" class="clearfix">
                              <div id="income" class="section">
                                 <div class="label">Income</div>
                              </div>
                              <div id="expenses" class="section active">
                                 <div class="label">Expenses</div>
                              </div>
                              <div id="content"></div>
                           </div>
                        </div>

                        <div style="display:none;" id="add-category-wrapper">
                           <div style="margin-top:5px; width:420px; height:40px; padding:5px;" class="add-category-popup">
                              <input type="text" size="30" class="text-input" />&nbsp;
                              <button class="button s-1">Add category</button>
                           </div>
                        </div> -->
                     <form>
                        <select id="filter-year">
                           <!-- <option value="">Select Year</option> -->
                           <option value="2015">2015</option>
                           <option value="2016">2016</option>
                           <option value="2017">2017</option>
                           <option value="2018">2018</option>
                           <option value="2019">2019</option>
                        </select>
                     </form>

                     <form>
                        <select id="filter-month">
                           <!-- <option value="">Select Month</option> -->
                           <option value="01">Jan</option>
                           <option value="02">Feb</option>
                           <option value="03">Mar</option>
                           <option value="04">Apr</option>
                           <option value="05">May</option>
                           <option value="06">Jun</option>
                           <option value="07">Jul</option>
                           <option value="08">Aug</option>
                           <option value="09">Sep</option>
                           <option value="10">Oct</option>
                           <option value="11">Nov</option>
                           <option value="12">Dec</option>
                        </select>
                     </form>

                     <form>
                        <select id="filter-category">
                           <option value="">All Categories</option>
                           <option disabled>---------EXPENSES---------</option>
                           <option value="Car">Car</option>
                           <option value="Clothes & Shoes">Clothes & Shoes</option>
                           <option value="Eating Out & Coffee">Eating Out & Coffee</option>
                           <option value="Education">Education</option>
                           <option value="Entertainment">Entertainment</option>
                           <option value="Food">Food/Groceries</option>
                           <option value="Gas">Gas/Transportation</option>
                           <option value="Holiday">Holiday</option>
                           <option value="Home">Home</option>
                           <option value="Insurance">Insurance</option>
                           <option value="Kids">Kids</option>
                           <option value="Medical">Medical</option>
                           <option value="Misc">Misc</option>
                           <option value="Mortgage">Mortgage/Rent</option>
                           <option value="Phone">Phone/TV/Internet/Utilities</option>
                           <option value="Taxes">Taxes</option>
                           <option disabled>---------INCOMES---------</option>
                           <option value="">Select category</option>
                           <option value="Bonus">Bonus</option>
                           <option value="Interest">Interest</option>
                           <option value="Other">Other</option>
                           <option value="Salary">Salary</option>
                        </select>
                     </form>

                     <form>
                        <button id="button-delete">Delete</button>
                     </form>

                     <div id="table">
                        <table id="example" class="display" cellspacing="0" width="100%">
                           <thead>
                              <tr>
                                 <th>Date</th>
                                 <th>Amount</th>
                                 <th>Category</th>
                                 <th>Note</th>
                              </tr>
                           </thead>
                           <tfoot>
                              <tr>
                                 <th>Date</th>
                                 <th>Amount</th>
                                 <th>Category</th>
                                 <th>Note</th>
                              </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/vendor/bootstrap/js/bootstrap.js"></script>

      <!-- Metis Menu Plugin JavaScript -->
      <script src="/vendor/metisMenu/metisMenu.js"></script>

      <!-- Custom Theme JavaScript -->
      <script src="/scripts/pagewrapper.js"></script>

      <!-- Transactions JavaScript -->
      <script src="/scripts/transactions.js"></script>

      <!-- Tables JavaScript -->
      <script src="/scripts/tables.js"></script>
      <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

      <!-- Datepicker UI Javascript -->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <script type="text/javascript">
         window.onload = function init() {
            jQuery('#filter-year').find('option[value="'+ new Date().getFullYear() + '"]').attr('selected', 'selected')

            document.getElementById('filter-month').options[new Date().getMonth()].selected = true
         }
      </script>
      <script>
         $(document).ready(function(){
             $('[data-toggle="popover"]').popover();
         });
      </script>

      <script>

         $('#datepicker').hide()

         $("#datepicker-show").click(function() {
            $("#datepicker").toggle()
         })

         $( "#datepicker" ).datepicker({
               dateFormat: 'dd/mm/yy',
               altField: '#djoined',
               altFormat: 'yy/mm/dd',
               onSelect: function() {
                  $('#datepicker').hide()
               },
            })
      </script>

   </body>

</html>
