<!DOCTYPE html>
<html lang="en">

   <head>

      <link rel="icon" href="images/favicon-money.ico" />

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>MoneyDiary - Retirement Wizard</title>

      <!-- Bootstrap Core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

      <!-- MetisMenu CSS -->
      <link href="/vendor/metisMenu/metisMenu.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="/styles/layout.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

      <!-- Calculator CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
      <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.css" />
      <link href="/styles/calculator-css/styles.css" rel="stylesheet">
      <link href="/styles/calculator-css/lib/tooltip.css" rel="stylesheet">
      <link href="https://cdn.rawgit.com/MasterMaps/d3-slider/master/d3.slider.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,300,700,800" />
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

   </head>

   <body onload="init('#graphic-appender')">

      <div id="wrapper">

         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <img src="/images/diarylogowhite.png" style="width: 25px; display: inline; float: left; margin-top: 15px; margin-left: 20px" />
               <a class="navbar-brand" href="/" style="float: left;">MoneyDiary</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
              <div style="color:white; display:inline">
                  <% if ( user.facebook.name ) { %>
                     <%= user.facebook.name %>
                  <% } else { %>
                     <%= user.local.email %>
                  <% } %>
               </div>
               <li class="dropdown">
                  <a class="dropdown-toggle" id="user-dropdown" data-toggle="dropdown" href="#">
                     <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user" >
                    <li><a href="/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                  </ul>
               </li>
            </ul>

            <!-- Side Bar Navigation -->
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                     <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> My Money Diary</a>
                     </li>
                     <li>
                        <a href="/cashflow"><i class="fa fa-edit fa-fw"></i> Cash Flow</a>
                     </li>
                     <li>
                        <a href="/monthlytable"><i class="fa fa-table fa-fw"></i> Monthly Table</a>
                     </li>
                     <li>
                        <a href="/mortgage"><i class="fa fa-usd fa-fw"></i> Mortgage Wizard</a>
                     </li>
                     <li>
                        <a href="/investment"><i class="fa fa-money fa-fw"></i> Investment Wizard</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div id="graphic-appender" class="panel panel-default">
                     <div class="panel-heading">
                        <h2 class="page-header">Investment Wizard</h2>
                        <div class="btn-group"></div>
                     </div>
                     <!-- Calculator Append Here -->
                  </div>
               </div>© Constantino Schillebeeckx
            </div>
         </div>

      </div>

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/vendor/bootstrap/js/bootstrap.js"></script>

      <!-- Metis Menu Plugin JavaScript -->
      <script src="/vendor/metisMenu/metisMenu.js"></script>

       <!-- Custom Theme JavaScript -->
       <script src="/scripts/pagewrapper.js"></script>

       <!-- Calculator JavaScript -->
       <script src="https://d3js.org/d3.v3.min.js"></script>
       <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
       <script src="https://cdn.rawgit.com/mbostock/5577023/raw/5ee09dca6afdbef864de89d4d6caa3296f926f00/colorbrewer.min.js "></script>
       <script src="https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.js"></script>
       <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
       <script src="/scripts/calculator-scripts/main.js"></script>
       <script src="/scripts/calculator-scripts/plots.js"></script>
       <script src="/scripts/calculator-scripts/utils.js"></script>
       <script src="/scripts/calculator-scripts/classes.js"></script>
       <script src="/scripts/calculator-scripts/lib/tooltip.js"></script>

   </body>

</html>
