<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Welcome to Money Diary</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome to Money Diary</h1>

        <a href="/user/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/user/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
    </div>

</div>
</body>
</html>
