<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <link rel="icon" href="images/favicon-money.ico" />

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>MoneyDiary</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link href="/styles/style.css" rel="stylesheet">

    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">


</head>
<body>

    <div class="loader"><div class="loader_html"></div></div>

    <div id="wrap" class="grid_1200">

        <header id="header-top">
            <div class="container clearfix">
                <div style="margin-bottom: 10px;">
                    <img src="/images/diarylogowhite.png" style="width: 25px; display: inline; float: left; margin-top: 6px; margin-left: 20px" />
                    <a class="navbar-brand" style="float: left; padding-top: 6px;">MoneyDiary</a>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                </div>
            </div><!-- End container -->
        </header><!-- End header -->

        <div class="slideshow">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <li data-transition="slide" data-slotamount="7" data-masterspeed="1000">
                            <!-- MAIN IMAGE -->
                            <img src="/images/header-side.png" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                            <div class="slideshow-bg"
                            data-y="310"
                            data-x="center"
                            data-start="0"></div>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption lfl start"
                                data-x="600"
                                data-y="100"
                                data-speed="400"
                                data-start="1300"
                                data-easing="easeOut"
                                data-endspeed="500"><img src="/images/dashboard.png" alt="macbookpro">
                            </div>

                            <!-- Layer NR. 2 -->
                            <div class="tp-caption color large_bg sfr start"
                                data-x="0"
                                data-y="110"
                                data-start="1800"
                                data-speed="700"
                                data-easing="easeOutBounce"
                                style="z-index: 4">Fast and Responsive
                            </div>

                            <!-- Layer NR. 3 -->
                            <div class="tp-caption color large_bg sft start"
                                data-x="0"
                                data-y="160"
                                data-start="2300"
                                data-speed="700"
                                data-easing="easeOutBounce"
                                style="z-index: 4">Powerful Yet Simple
                            </div>

                            <!-- Layer NR. 4 -->
                            <div class="tp-caption color large_bg sfl start"
                                data-x="0"
                                data-y="210"
                                data-start="2800"
                                data-speed="700"
                                data-easing="easeOutBounce"
                                style="z-index: 4">Track Your Cashflow
                            </div>

                            <!-- Layer NR. 5 -->
                            <div class="tp-caption color large_bg sft start"
                                data-x="0"
                                data-y="260"
                                data-start="3300"
                                data-speed="700"
                                data-easing="easeOutBounce"
                                style="z-index: 4">Know What You're Spending
                            </div>

                            <!-- Layer NR. 6 -->
                            <div class="tp-caption color large_bg sfr start"
                                data-x="0"
                                data-y="310"
                                data-start="3800"
                                data-speed="700"
                                data-easing="easeOutBounce"
                                style="z-index: 4">Discover New Ways To Save
                            </div>

                            <!-- Layer NR. 7 -->
                            <div class="tp-caption color large_bg sft start"
                                data-x="0"
                                data-y="360"
                                data-start="4300"
                                data-speed="700"
                                data-easing="easeOutBounce"
                                style="z-index: 4">Plan For Your Future
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- End tp-banner-container -->
        </div><!-- End slideshow -->

        <div class="sections">
            <div class="container">
                <div class="sections-title">
                    <div class="sections-title-h3"><h3>Take Control of Your Money</h3></div>
                    <p>Money Diary is a refreshingly unopinionated personal finance app that tracks and analyzes your cashflow.
                    <br>
                    <br>


                    <a href="/user/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
                    <a href="/user/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
                    <a href="/user/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>


                </div><!-- End sections-title -->
                <div class="row">
                    <div class="bxslider-slide box-icon-slide">
                        <ul>

                                <div class="col-md-3">
                                    <div class="box-icon">
                                        <div class="box-icon-i box-icon-i-2 box-icon-i-4"><i class="fa fa-heart"></i></div>
                                        <div class="box-icon-content">
                                            <h5>Simple & Helpful</h5>
                                            <p>Register and track your transactions with just few clicks!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-icon">
                                        <div class="box-icon-i box-icon-i-2 box-icon-i-4"><i class="fa fa-desktop"></i></div>
                                        <div class="box-icon-content">
                                            <h5>Responsive Layout</h5>
                                            <p>You can use MoneyDiary with your Phone, Tablet, Laptop, or Desktop
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-icon">
                                        <div class="box-icon-i box-icon-i-2 box-icon-i-4"><i class="fa fa-briefcase"></i></div>
                                        <div class="box-icon-content">
                                            <h5>Advanced Features</h5>
                                            <p>Simulate Investments and Mortgages with our built-in calculators
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-icon">
                                        <div class="box-icon-i box-icon-i-2 box-icon-i-4"><i class="fa fa-gears"></i></div>
                                        <div class="box-icon-content">
                                            <h5>Secure & Private</h5>
                                            <p>We use high level authentication features and never share your data
                                        </div>
                                    </div>
                                </div>

                        </ul>
                    </div><!-- End box-icon-slide -->
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End sections -->

        <footer id="footer-bottom">
            <div class="container">
                <div class="copyrights">Copyright 2017 MoneyDiary</div>
            </div><!-- End container -->
        </footer><!-- End footer-bottom -->

    </div><!-- End wrap -->

    <div class="go-up"><i class="fa fa-chevron-up"></i></div>




    <!-- js -->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.themepunch.plugins.min.js"></script>
    <script src="/vendor/jquery/jquery.themepunch.revolution.min.js"></script>
    <script src="/vendor/jquery/custom.js"></script>
    <!-- End js -->

</body>
</html>
