<!DOCTYPE html>
<html lang="en">

   <head>

      <link rel="icon" href="images/favicon-money.ico" />

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>MoneyDiary - Mortgage Wizard</title>

      <!-- Bootstrap Core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

      <!-- MetisMenu CSS -->
      <link href="/vendor/metisMenu/metisMenu.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="/styles/layout.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

   </head>

   <body>

      <div id="wrapper">

         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <img src="/images/diarylogowhite.png" style="width: 25px; display: inline; float: left; margin-top: 15px; margin-left: 20px" />
               <a class="navbar-brand" href="/" style="float: left;">MoneyDiary</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
               <div style="color:white; display:inline">
                  <% if ( user.facebook.name ) { %>
                     <%= user.facebook.name %>
                  <% } else { %>
                     <%= user.local.email %>
                  <% } %>
               </div>
                  <li class="dropdown">
                     <a class="dropdown-toggle" id="user-dropdown" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                     </a>
                     <ul class="dropdown-menu dropdown-user" >
                       <li><a href="/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                     </ul>
                  </li>
            </ul>

            <!-- Side Bar Navigation -->
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                     <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> My Money Diary</a>
                     </li>
                     <li>
                        <a href="/cashflow"><i class="fa fa-edit fa-fw"></i> Cash Flow</a>
                     </li>
                     <li>
                        <a href="/monthlytable"><i class="fa fa-table fa-fw"></i> Monthly Table</a>
                     </li>
                     <li>
                        <a href="/mortgage"><i class="fa fa-usd fa-fw"></i> Mortgage Wizard</a>
                     </li>
                     <li>
                        <a href="/investment"><i class="fa fa-money fa-fw"></i> Investment Wizard</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         <!-- Page Content -->
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h2 class="page-header">Mortgage Wizard</h2>
                        <div class="btn-group"></div>
                     </div>
                     <div>
                        <div class="widget" data-widget="calc-payment" data-purchase="only" data-lang="en"></div><div style="text-align:right;">
                        </div>
                     </div>
                        <!-- <form id="mortgage-form" name="mainform" action="monthlyPayment" method="POST">
                           <span>Loan Amount:</span>
                           <div class="form-group input-group">
                              <span class="input-group-addon">$</span>
                              <input type="text" class="form-control" name="p">
                              <span class="input-group-addon">.00</span>
                           </div>
                           <span>Mortgage Rate:</span>
                           <div class="form-group input-group">
                              <input class="form-control" name="r" value="5">
                              <span class="input-group-addon">%</span>
                           </div>
                           <span>Years to Pay:</span>
                           <div class="form-group">
                              <input class="form-control" name="y" value="10">
                           </div>
                           <button type="button" class="btn btn-primary" onclick="doCalc()">Calculate</button> -->

                           <!-- Results -->
                           <!-- <div id="mortgage-results">
                              <span>Results</span>
                              <span>Monthly Payment:</span>
                              <div class="form-group input-group">
                                 <span class="input-group-addon">$</span>
                                 <input type="text" name="payment" class="form-control" name="p">
                              </div>
                           </div>
                        </form> -->
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/vendor/bootstrap/js/bootstrap.js"></script>

      <!-- Metis Menu Plugin JavaScript -->
      <script src="/vendor/metisMenu/metisMenu.js"></script>

            <!-- Custom Theme JavaScript -->
      <script src="/scripts/pagewrapper.js"></script>

      <!-- Calculator JavaScript -->
      <script src="/scripts/calculator.js"></script>

      <!-- jQuery UI -->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <!-- Mortgage Widget -->
      <script type="text/javascript" src="https://www.ratehub.ca/assets/js/widget-loader.js"></script>
      <script type="text/javascript">
         setTimeout(function(){
            $('.social').css( "display", "none")
         }, 1400)
      </script>

   </body>

</html>
