<!doctype html>
<html>

    <head>

        <title>MoneyDiary - Register</title>

        <link rel="icon" href="images/favicon-money.ico" />

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <!-- Custom CSS -->
          <link href="/styles/layout.css" rel="stylesheet">

    </head>

    <body class="register">
        <div class="container">
            <div id="registerbox" class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-user"></span> Register</h1>

                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/user/register" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Register</button>
                </form>

                <hr>

                <p>Already have an account? <a href="/user/login">Login</a></p>
                <p>Or go <a href="/landingPage">Home</a>.</p>

            </div>
        </div>
    </body>
</html>